body {
background-color: #969696;

}

.jumbotron {
    background-image: url(images/list.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
    color: white;
}

li {
    background-color: #00b3b4;
}

a {
    color: darkblue;
}
small {
    color: white;
}

.buttonHolder {
    text-align: center;
    margin-top: 10px;
}