{{#partial "content"}}
    <div class="well">

    {{#if groceries}}
        {{#each groceries }}
            {{#if firstPost}}
                    <h4>Current list:</h4>
            {{/if}}
                    <p>{{ content }}</p>
        {{/each}}
    {{else}}
            <p>No Groceries!</p>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}